<!-->Barra de navegaci[on con funciones desplegables<-->
<div class="row">
  <div class="container">
    <nav class="navbar navbar-expand-lg" type="header">
      <a class="navbar-brand" routerLink="/dashboard">E-commerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active" routerLinkActive="active">
            <a class="nav-link" routerLink="/dashboard">Dashboard<span class="sr-only"></span></a>
          </li>
          <li class="nav-item active" *ngIf="adminUser.perfil==='superAdmin'" routerLinkActive="active">
            <a class="nav-link" routerLink="/registrar">Usuarios<span class="sr-only"></span></a>
          </li>
          <div class="collapse navbar-collapse">
            <div class="search-container" style="text-align: right;">
            </div>
          </div>
          <!--DropDown que no funciona-->
          <!--><-->
          <div ngbDropdown class="dropdown" appDropdown> 
            <button
              class="button"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [routerLink]="['/login']"
            >Cerrar sesión
            </button>
          </div>
          <!-- DropDown que no sirve
        <div ngbDropdown class="dropdown" appDropdown> 
          <button
            class="dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            mdbDropdownToggle
          >Administrar
          </button>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" [routerLink]="['/login']">Cerrar sesión</a></li>
          </ul>
        </div>-->
        </ul>
      </div>
    </nav>    
  </div>
</div>
