*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input{
    width: 100%;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}

.row{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: rgb(51, 47, 47);
    background-color: #cebbc4;
}
.row h5{
    margin: 0;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 30px;
}
.button{
    width: 100%;
    height: 40px;
    background: #0bce6c;
    border: none;
    color: white;
    margin-bottom: 16px;
}