<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <h5>E-commerce</h5>
                    <label for="email">E-mail</label>
                    <input 
                    type="text"
                    placeholder="E-mail"
                    id="emailspace"
                    class="form-control"
                    formControlName="email"
                    name="emailspace"
                    required
                    email>
                    <span class="text-danger" *ngIf="loginForm.controls['email'].dirty 
                    && loginForm.hasError('required','email')"> Email es necesario</span>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input 
                    type="password"
                    placeholder="Contraseña"
                    id="passwordspace"
                    class="form-control"
                    formControlName="pass"
                    name="password"
                    required
                    minlength="4"
                    >
                    <span class="text-danger" *ngIf="loginForm.controls['pass'].dirty 
                    && loginForm.hasError('required','pass')">Contraseña es necesaria</span>
                </div>
                <br>
                <div>
                    <div class="col text-center">
                        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
                            Iniciar Sesión
                        </button> 
                    </div>
                </div>
            </form>
            <br>
            <hr>
            <div>
                <label>
                    En caso de no tener credenciales, contactar al administrador para recibirlas
                </label>
            </div>
        </div>
    </div>
</div>