<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <br>
          <h3>Bienvenido: {{dataUser.usuario}}</h3>
      </div>
      <div class="d-flex">
        <button 
        *ngIf="dataUser.perfil==='superAdmin'" 
        type="button" 
        data-bs-toggle="modal" 
        data-bs-target="#exampleModal" 
        class="btn btn-success" 
        style="float: right;"
        (click)="clickAddProduct()"
        >Agregar Producto
      </button>
      </div>
      <table class="table mt-3">
        <thead>
          <tr>
            <th *ngIf="dataUser.perfil==='superAdmin'" scope="col">Id</th>
            <th scope="col">Producto</th>
            <th scope="col">Imagen</th>
            <th scope="col">Marca</th>
            <th *ngIf="dataUser.perfil==='superAdmin'" scope="col">Stock</th>
            <th scope="col">Precio</th>
            <th scope="col">Descripción</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productData">
          <td *ngIf="dataUser.perfil==='superAdmin'">{{product.id}}</td>
          <td>{{product.nombreProducto}}</td>
          <td>
            <img src="{{product.imagen}}" width="100" height="100"  alt="imagenes" class="small-img">
          </td>
          <td>{{product.marca}}</td>
          <td *ngIf="dataUser.perfil==='superAdmin'">{{product.stock|number }}</td>
          <td>{{product.precio|number}}</td >
          <td>{{product.descripcion}}</td>
          <td *ngIf="dataUser.perfil==='superAdmin'">
            <button
            (click)="onEditProduct(product)" 
            class="btn btn-info"         
            data-bs-toggle="modal" 
            data-bs-target="#exampleModal" 
            >Editar
            </button>
            <button class="btn btn-danger mx-3" 
            (click)="deleteProduct(product)">
            Eliminar
            </button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="showAdd" class="modal-title" id="exampleModalLabel">Agregar Articulo</h5>
        <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLabel">Editar Articulo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputProduct" class="form-label">El id es unico e inamovible para cada producto</label>
          </div>
          <div class="mb-3">
            <label for="exampleInputProduct" class="form-label">Nombre Producto</label>
            <input type="text" formControlName="nombreProducto" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="imagePath">URL de imagen</label>
            <input type="text" id="imagen" formControlName="imagen" class="form-control" aria-describedby="emailHelp"
            #imagePath>
          </div>
          <div class="mb-3">
            <label for="exampleInputBrand" class="form-label">Marca</label>
            <input type="text" formControlName="marca" class="form-control" id="exampleInputBrand">
          </div>
          <div class="mb-3">
            <label for="exampleInputBrand" class="form-label">Stock</label>
            <input type="text" formControlName="stock" class="form-control" id="exampleInputBrand">
          </div>
          <div class="mb-3">
            <label for="exampleInputPrice" class="form-label">Precio</label>
            <input type="number" formControlName="precio" class="form-control" id="exampleInputPrice">
          </div>
          <div class="mb-3">
            <label for="exampleInputDescription" class="form-label">Descripción</label>
            <input type="text" formControlName="descripcion" class="form-control" id="exampleInputDescription">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="postProductoDetail()">Guardar</button>
        <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateProductoDetail()">Actualizar</button>
      </div>
    </div>
  </div>
</div>
