<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <br>
        <h3>Bienvenido</h3>
    </div>
    <div class="d-flex">
      <button  
      type="button" 
      data-bs-toggle="modal" 
      data-bs-target="#exampleModal" 
      class="btn btn-success" 
      style="float: right;"
      (click)="clickAddUser()"
      >Agregar usuario
    </button>
    </div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Perfil</th>
          <th scope="col">Nombre</th>
          <th scope="col">Email</th>
          <th scope="col">Contraseña</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userData">
        <td>{{user.id}}</td>
        <td>{{user.perfil}}</td>
        <td>{{user.usuario}}</td>
        <td>{{user.email}}</td>
        <td>{{user.pass}}</td>
        <td>
          <button
          (click)="onEditUser(user)" 
          class="btn btn-info"         
          data-bs-toggle="modal" 
          data-bs-target="#exampleModal" 
          >Editar</button>
          <button class="btn btn-danger mx-3" (click)="deleteUser(user)">Eliminar</button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 *ngIf="showAdd" class="modal-title" id="exampleModalLabel">Agregar usuario</h5>
      <h5 *ngIf="showUpdate" class="modal-title" id="exampleModalLabel">Editar usuario</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formValue">
        <div class="mb-3">
          <label for="exampleInputProduct" class="form-label">El id es unico e inamovible para cada usuario</label>
        </div>
        <div class="mb-3">
          <label for="exampleInputUser" class="form-label">Perfil</label>
          <input type="text" formControlName="perfil" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputUser">Nombre</label>
          <input type="text" id="name" formControlName="usuario" class="form-control" aria-describedby="emailHelp"
          #imagePath>
        </div>
        <div class="mb-3">
          <label for="exampleInputBrand" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputBrand">
        </div>
        <div class="mb-3">
          <label for="exampleInputPrice" class="form-label">Password</label>
          <input type="password" formControlName="pass" class="form-control" id="exampleInputPrice">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="postUserDetail()">Guardar</button>
      <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateUserDetail()">Actualizar</button>
    </div>
  </div>
</div>
</div>
